#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 448px;
  margin: 0 auto;
  padding: 0 1rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.text-center {
  text-align: center;
}
